body {  font: 20px Roboto, sans-serif;
        line-height: 1.8;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 80px;
    padding-left: 80px;
}

.bg-1 {
    background-color: #009B9B;
    color: #ffffff;
    text-align: center;
    border-top: 45px solid #009B9B;
}

.bg-2 {
    background-color: #293C52;
    background-image: linear-gradient(to top left, #293C52, #335780);
    color: #ffffff;
    text-align: center;
}
.bg-2 h4{
    line-height: 1.6;
}
a:link {
    text-decoration: none;
    color: #ffffff;
}

.bg-3 {
    background-color: #7B9999;
    color: #ffffff;
    text-align: center;
}

.bg-4 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #293C52;
    color: #ffffff;
    text-align: center;
}

.bg-5 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #006464;
    color: #ffffff;
    text-align: center;
}

.title {
    text-align: center;
    text-decoration: underline;
}

#ee {
    text-align: right;
    padding-top: 50px;
}

.img-responsive {
    display: inline;
}

.navbar {
    border-bottom: 2px solid #ACACAC;
    background-color: #006464;
}

.navbar-nav  li a {
    color: #FFFFFF !important;
    font-size: 15px;
}
.navbar-brand {
    color: #FFFFFF !important;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
  
.fa:hover {
      color: white;
      opacity: 0.7;
    }

/*estilos dos botões sociais*/
.fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #333333;
    color: white;
}

a:visited {
    color: white;
  }